/* Login.css */
.login-container {
    display: flex;
    height: 100vh;
  }
  
  .left-side {
    flex: 1;
    background-color: #82d7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .right-side {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .image {
    width: 80%;
    max-width: 400px;
  }
  
  .logo {
    width: 150px;
    margin-bottom: 20px;
  }
  
  .text {
    text-align: center;
    padding: 20px;
  }
  
  .text h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .text p {
    font-size: 1.2em;
    color: #555;
  }
  
  .login-form {
    width: 80%;
    max-width: 400px;
  }
  
  .additional-options {
    margin-top: 20px;
    width: 80%;
    max-width: 400px;
  }
  
  .footer {
    margin-top: 20px;
    text-align: center;
  }
  
  .footer a {
    color: #007BFF;
    text-decoration: none;
    margin-left: 10px;
  }